.SettingsBar{
    display: inline-block;
    position: absolute;
    left: 0%;
    width: 80%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: start;  
}

