.OpacityItemHolder{
    margin-left: 1cqw;
    margin-top: 10px;
    position: relative;
    width: 120px;
    height: 40px;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0);
}

.OpacityItemTitle{
    position: absolute;
    left: 0;
    top: 5px;
    height: 16px;
    display: inline-block;  
}

.OpacityItem{
    position: absolute;
    right: 0 ;
    top: 5px;
    width: 45px;
    height: 16px;
    display: inline-block;  
}