.TopBarComponent{
    height: 50px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    border-radius: 5px;
}

