.ImageItemOutline{
    height: 50px;
    width: 50px;
    background-color: lightgreen;
    text-align: center;
    border: 1px solid gray;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
}

.ImageItem{
    opacity: 0;
}

.ImageIcon{
    position: absolute;
    top: 10px;
    left: 10px
}