.ElementsBarTopAreaButton{
    height: 30px;
    width: 30px;
    background-color:  rgb(5, 32, 102);
    display: inline-block;
    margin-left: 4px;
    text-align: center;
    padding-top: 4px;
    border-radius: 6px;
    box-sizing: border-box;
}